@model MVCLibrary.Models.Entity.Authors

@{
    ViewBag.Title = "AuthorAdd";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<link href="~/style/AddAndBringStyle.css" rel="stylesheet" />
<h2>Author Add Operation</h2>


<form class="form-group" method="post">
    <div class="container">
        <div class="left-side">
            <label>Name</label>
            @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
            <label>Last Name</label>
            @Html.TextBoxFor(p => p.LastName, new { @class = "form-control" })

        </div>

        <div class="right-side">
            <label>Detail</label>
            @Html.TextAreaFor(p => p.Detail, new { @class = "form-control" })
        </div>
    </div>

    <button class="btn btn-primary">Author Add</button>

</form>
