
.container {
    width: 80vw;
    display: flex;
    margin-left: 0px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.container label {
        margin-top: 15px;

}

.right-side {
    width: 400px;
    margin-right: 50px;
}

.left-side {
    width: 400px;
    margin-right: 50px;
}

button {
    width: 120px;
    margin-top: 15px;
    margin-left: 15px;
}
