@using MVCLibrary.Models.Entity
@model List<Announcement>
@{
    ViewBag.Title = "AnnouncementList";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Category</th>
        <th>Date</th>
        <th>Detail</th>
        <th>Delete</th>
    </tr>
    @foreach (var announcement in Model)
    {
        <tr>
            <td>@announcement.Id</td>
            <td>@announcement.Content </td>
            <td>@Convert.ToDateTime(announcement.Date).ToShortDateString() </td>
            <td><a href="/Announcement/AnnouncementBring/@announcement.Id" class="btn btn-success">Detail</a></td>
            <td><a href="/Announcement/AnnouncementDelete/@announcement.Id" class="btn btn-danger">Delete</a></td>

        </tr>

    }
</table>

<a href="/Announcement/AnnouncementAdd/" class="btn btn-primary">New Employee Add</a>

