@using MVCLibrary.Models.Entity
@model List<Categories>
@{
    ViewBag.Title = "Layout";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<h2>Category operation</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>State</th>
        <th>Update</th>
        <th>Change to State</th>
    </tr>
    @foreach(var category in Model)
     {
        <tr>
            <td>@category.Id</td>
            <td>@category.Name</td>
            <td>@category.State</td>
            <td><a href="/Category/CategoryBring/@category.Id" class="btn btn-success">Update</a></td>
            <td><a href="/Category/CategorySelectActive/@category.Id" class="btn btn-warning">Active</a>
                <a href="/Category/CategorySelectPassive/@category.Id" class="btn btn-danger">Passive</a>
            </td>

        </tr>       
     }
</table>

<a href="/Category/CategoryAdd/" class="btn btn-primary">New Category Add</a>
